*{font-family: Arial, Helvetica, sans-serif;}

ul{
    text-align: left;
    font-size: 17px;
    list-style:circle;
    margin: 5px;
}

ol{
    text-align: left;
    font-size: 17px;
    list-style:decimal
}

h2{
    color: rgb(189, 10, 10);
}

button{
    margin: 5px;
    
}

.recipe-container.border{
    background-color: #faebd7;
    width: 600px;
    text-align: center;
    border: 2px solid royalblue;
    border-radius: 4px;
    margin: auto;
}

.recipe-content p{
    text-align: left;
}

.recipe-content h2{
    text-transform: uppercase;
}

.recipe-content ul{
    list-style-type: disc;
}

.recipe-list {
    width: fit-content;
    background-color: #faebd7;
    border-radius: 5px;
    border: 2px solid royalblue;
    margin: auto;
}

#site-title{
    color: #e98c29; 
    background-color: #faebd7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#image-container{
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}